@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #ff6500 !important;
    --black: #191b24 !important;
    --second-black: #262938;
    --white: #fff !important;
    --text-color: rgba(255, 255, 255, 0.8);
    --margin-left-right: 40px;
    --default-layout-header-height: 50px;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    max-width: 100%;

    background-color: #191b24;
    overflow-x: hidden; // Ẩn thanh cuộn ngang
    // display: flex;
    // flex-direction: column;
    // margin: var(--margin-full-page);
}
