.banner-slider {
    width: 100%;
    height: 820px;
    margin: 0 auto;

    .slider-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info {
            bottom: 200px;
        }

        .thumbnails {
            bottom: 230px;
        }
    }
}

// Media query for screens larger than 1600px
@media (min-width: 1600px) {
    .banner-slider {
        height: 900px;
    }

    .slider-container .info {
        bottom: 120px;
    }

    .slider-container .thumbnails {
        bottom: 150px;
    }
}